body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
}
#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game {
    border: 1px solid white;
}
h1 {
    text-align: center;
}
